<h1>Qualidade das fotos</h1>
<span class="ui label">Todos os aparelhos</span>
<hr>
<div align="right">
<button class="ui left attached button" id="btn_prev" ng-click="prev()" disabled="true">Anterior</button>
<button class="right attached ui button" id="btn_next" ng-click="next()">Próximo</button>
</div>
<hr>
<div class="texto ui raised very padded text segment">
	<div class="tb" style="display: block;">
		<!-- Número -->        

		<span class="ui label"><!--Passo --></span>

		<!-- Texto -->

		<p>Verifique se a camera está coberta com alguma película.</p>
		<p>O aparelho vem de fábrica com uma pelícila protetora da lente da camera. Esse deverá ser removido para que a câmera tenha um bom funcionamento. Além disso, não indicamos utilizar nenhum tipo de película proteja na camera, pois isso poderá impactar a qualidade das imagens.</p>
	</div>

	<div class="tb">
		<!-- Número -->        

		<span class="ui label"><!--Passo --></span>

		<!-- Texto -->

		<p>Utilização de Capas não originais</p>
		<p>O uso de capas não originais podem interferir na qualidade das fotos tiradas. Muitas vezes a capa não tem um perfeito encaixe no aparelho ou faz algum tipo de sombra que impacta a foto. Se você utiliza capas, tente removê-la para testar. Se perceber melhora, deixe de utilizar a capa e busque outro acessório. Sempre indicamos acessórios originais do aparelho.</p>
	</div>

	<div class="tb">
		<!-- Número -->        

		<span class="ui label"><!--Passo --></span>

		<!-- Texto -->

		<p>Configurar a câmera</p>
		<p>A camera já vem com configurações de fábrica que permitem uma boa qualidade de fatos, porém para usuários que querem extrair o melhor da camera, aqui vão algumas dicas: abra a Camera e deslique da esquerda para a direita para ver as configurações. As que ajudarão na melhoria da qualidade fas todos são as seguintes:</p>
		<p>A função HDR faz um ajust automático de luz em ambientes com iluminação desfavorável Ativando o Flash, o usuário poderá ter uma melhor muito experiência em ambientes escuros A seleção de foco permite também o ajuste de iluminação, permitindo o usuário fotos mais nítida Modo noturno permite a camera operar mais rapidamente em ambientes de baixa luminosidade.</p>
	</div>
</div>

